In [5]:
print("The below is an empty tuple")

t1=()

print(t1)

The below is an empty tuple
()

In [9]:
print("The below tuple has 3 elements")

t2 = (1,'23','abc')

print(t2)

The below tuple has 3 elements
(1, '23', 'abc')

In [10]:
len(t2)

3

In [11]:
t2 = (1,'23','abc','NIE')

print(t2 , " printing again")

(1, '23', 'abc', 'NIE')  printing again

In [13]:
print(t2[1])

23

In [12]:
len(t2)

4

In [ ]:
#There is no append method for a tuple
#There is no delete elements option
#You cannot change the order of the elements of the tuple.

In [ ]:
min(t2)

In [ ]:
max(t2)

In [ ]:
t3 = (1,2,33.8,4.5)
min(t3)

In [ ]:
max(t3)

In [ ]:
t4 = ('a','b','c','d')

In [ ]:
min(t4)

In [ ]:
max(t4)

In [ ]:
t5 = ('a', 'A','' )

In [ ]:
min(t5)

In [ ]:
max(t5)

In [ ]:
len(t5)

In [ ]:
t6 = t3

In [1]:
ord('a')

97

In [2]:
ord('A')

65

In [4]:
ord(' ')

32