In [5]:
print("The below is an empty tuple")

t1=()

print(t1)

The below is an empty tuple
()

In [9]:
print("The below tuple has 3 elements")

t2 = (1,'23','abc')

print(t2)

The below tuple has 3 elements
(1, '23', 'abc')

In [10]:
len(t2)

3

In [11]:
t2 = (1,'23','abc','NIE')

print(t2 , " printing again")

(1, '23', 'abc', 'NIE')  printing again

In [13]:
print(t2[1])

23

In [12]:
len(t2)

4

In [ ]:
#There is no append method for a tuple
#There is no delete elements option
#You cannot change the order of the elements of the tuple.

In [14]:
min(t2)

TypeError: '<' not supported between instances of 'str' and 'int'

In [15]:
max(t2)

TypeError: '>' not supported between instances of 'str' and 'int'

In [16]:
t3 = (1,2,33.8,4.5)
min(t3)

1

In [17]:
max(t3)

33.8

In [19]:
t4 = ('a','b','c','d')

In [20]:
min(t4)

'a'

In [21]:
max(t4)

'd'

In [37]:
t5 = ('Aab', 'AB','' )

In [38]:
min(t5)

''

In [39]:
max(t5)

'Aab'

In [ ]:
len(t5)

In [32]:
t6 = t3

In [25]:
ord('a')

97

In [26]:
ord('A')

65

In [27]:
ord(' ')

32

In [36]:
print(t6)

NameError: name 't6' is not defined

In [34]:
del(t6[1])

TypeError: 'tuple' object doesn't support item deletion

In [35]:
del(t6)

In [ ]:
cmp()